@import "tailwindcss";

@theme {

    --color-main: #212121;
    --color-primary: #000000;
    
    --padding-ui: 16px;
    --gap-ui: 8px;
    --radius-ui: 8px;

    --transition-duration-ui: 100ms;
    
    --text-mobile-title: 72px;
}

@layer {
    .page {
        @apply p-2;
        @apply relative;
        @apply h-full w-full;
        @apply bg-main;
        @apply text-white;
    }

    .material-glass {
        @apply border border-white/10;
        @apply backdrop-blur-2xl;
    }
}